<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" >
        <meta name="robots" >
        <meta property="og:url" />
        <meta property="og:title" />
        <meta property="og:description" />
        <meta property="og:site_name" />
        <meta property="og:type" />
        <meta property="og:image" />

        <link rel="icon" >

        <title>{% block title %}{% endblock %}</title>

				{% load static %}
        <!-- tailwindcss -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- alpinejs -->
        <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script> <!-- alpinejs intersect -->
        <script src="//unpkg.com/alpinejs" defer></script> <!-- alpinejs core -->
        <!-- fontawesome -->
	    <script src="//kit.fontawesome.com/849ec56e4d.js" defer crossorigin="anonymous"></script>
		</head>

		<body class="bg-gray-100">
			<header class="px-4 py-3 bg-indigo-300 text-white sticky left-0 top-0">
				<div class="flex items-center justify-between bg-indigo-300 max-w-7xl mx-auto">
					<div class="max-w-5xl flex items-center">

						{% if request.path != '/' and request.user.is_authenticated %}
							<a href="{% url 'tasks:index' %}" class="text-white mr-3">
								<i class="fas fa-arrow-left-long"></i>
							</a>
						{% endif %}

						<h1 class="text-2xl uppercase truncate">{% block page_title %}{% endblock %}</h1>
					</div>
					<div 
						class="relative"
						x-data="{ open: false }"
					>
						{% if request.user.is_authenticated %}
						<button 
							class="relative flex items-center space-x-2 z-10 rounded-full focus:outline-none focus:shadow-outline"
							@click="open = !open"
						>
							<span>{{ request.user }}</span>
							<i class="fas fa-user"></i>
						</button>
						<div 
							class="absolute right-0 w-48 py-2 mt-2 bg-white rounded-md shadow-xl transition transform origin-top-right"
							style="display: none;"
							x-show="open"
							@click.away="open = false"
							x-transition:enter-start="opacity-0 scale-0"
							x-transition:leave-end="opacity-0 scale-0"
						>
							<a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout</a>
						</div>
						{% endif %}
					</div>
				</div>
			</header>

			<div class="container mx-auto pb-20">
				{% block content %}
				{% endblock %}
			</div>
		</body>
	</html>