{% extends 'layouts/master.html' %}
{% block title %}{% block page_title %}Login{% endblock page_title %}{% endblock title %}

{% block content %}
		<div class="container mx-auto">
				<form action="{% url 'login' %}" method="POST" class="mt-4 max-w-lg mx-auto bg-white rounded px-8 pt-6 pb-8 mb-4">
						{% csrf_token %}
						<div class="mb-4">
								<label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
								<input type="username" name="username" id="username" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none" placeholder="Email">
						</div>
						<div class="mb-4">
								<label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
								<input type="password" name="password" id="password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none" placeholder="Password">
						</div>
						<div class="mb-4 flex items-center">
								<button type="submit" class="bg-fuchsia-300 hover:bg-fuchsia-400 text-white font-bold py-2 px-4 rounded focus:outline-none">Login</button>
								<a href="{% url 'register' %}" class="inline-block align-baseline ml-2 font-bold text-sm text-indigo-300 hover:text-indigo-400">Register</a>
						</div>
				</form>
		</div>
{% endblock %}