{% extends 'layouts/master.html' %}
{% block title %}{% block page_title %}Tasks{% endblock %}{% endblock %}

{% block content %}
	<div class="container mx-auto mt-4 max-w-full overflow-x-scroll">
		<div class="mt-4">
		<form 
			x-data="{ 
				method     : 'POST', // POST | PUT | DELETE
				id         : null,
				title      : '',
				description: '',
				due_date   : '',

				submit() {
					const url = this.id 
						? '{% url 'api:task' id='__id__' %}'.replace('__id__', this.id)
						: '{% url 'api:tasks' %}';

					const data = {
						title: this.title,
						description: this.description,
						due_date: this.due_date
					};

					const options = {
						method: this.method,
						headers: {
							'Content-Type': 'application/json',
							'X-CSRFToken': '{{ csrf_token }}',
							'credentials': 'include'
						},
						body: JSON.stringify(data)
					};

					fetch(url, options)
						.then(() => window.location.reload())
						.catch(err => console.error(err));
				}
			}"
			@submit.prevent="submit()"
		>
			<table class="w-full text-left rounded-lg overflow-hidden px-4 py-2 bg-white">
				<thead>
					<tr class="text-gray-800 border-b">
						<th class="px-4 py-2">No</th>
						<th class="px-4 py-2">Title</th>
						<th class="px-4 py-2">Description</th>
						<th class="px-4 py-2">Due Date</th>
						<th class="px-4 py-2">Actions</th>
					</tr>
				</thead>
				<tbody class="text-gray-700">
					{% for task in tasks %}
					<tr data-id="{{ task.id }}" class="hover:bg-blue-50">
						<td class="px-4 py-2 text-center">{{ forloop.counter }}</td>
						<td class="px-4 py-2">
							<span x-show="id != {{ task.id }}">{{ task.title|truncatechars:30 }}</span>
							<input
								type="text" 
								x-model="title" 
								x-show="id == {{ task.id }}" 
								class="p-2 border rounded"
								style="display: none;"
							>
						<td class="px-4 py-2">
							<span x-show="id != {{ task.id }}">{{ task.description|truncatechars:30 }}</span>
							<input
								type="text" 
								x-model="description" 
								x-show="id == {{ task.id }}" 
								class="p-2 border rounded"
								style="display: none;"
							>
						</td>
						<td class="px-4 py-2">
							<span 
								x-show="id != {{ task.id }}"
								class="rounded-full px-2 py-1 text-sm"
								:class="{
									'bg-green-100 text-green-700': Boolean({{ task.due_date|date:'U' }} > {% now 'U' %}),
									'bg-red-100 text-red-700': Boolean({{ task.due_date|date:'U' }} < {% now 'U' %})
								}"
							>{{ task.due_date|date:"Y-m-d H:i" }}</span>
							<input
								type="date" 
								x-model="due_date" 
								x-show="id == {{ task.id }}" 
								class="p-2 border rounded"
								style="display: none;"
							>
						</td>
						<td class="px-4 py-2">
							<a
								href="{% url 'tasks:detail' task.id %}"
								class="px-4 py-2.5 mr-1 text-sm font-semibold text-white bg-gray-400 rounded hover:bg-gray-500"
							>
								<i class="fas fa-eye"></i>
							</a>

							<button
								type="button"
								class="px-4 py-2 text-sm font-semibold text-white rounded"
								:class="id == {{ task.id }} ? 'bg-fuchsia-300 hover:bg-fuchsia-400' : 'bg-gray-400 hover:bg-gray-500'"
								@click.prevent="
									id != {{ task.id }} 
										? (
												method      = 'PUT',
												id          = {{ task.id }},
												title       = '{{ task.title }}',
												description = '{{ task.description }}',
												due_date    = '{{ task.due_date|date:"Y-m-d" }}'
											)
										: submit()
								"
							>
								<i class="fas" :class="id == {{ task.id }} ? 'fa-check' : 'fa-edit'"></i>
							</button>
							
							<button
								type="button"
								class="px-4 py-2 text-sm font-semibold text-white bg-gray-400 rounded hover:bg-gray-500"
								@click.prevent="() => {
									if (confirm('Are you sure you want to delete task {{ task.title|truncatechars:10 }}?')) {
										method = 'DELETE';
										id     = {{ task.id }};
										submit();
									}
								}"
							>
								<i class="fas fa-trash"></i>
							</button>

						</td>
					</tr>
					{% endfor %}

					<tr class="hover:bg-blue-50">
							<td class="px-4 py-2 text-center">
								<i class="fas fa-plus"></i>
							</td>
							<td class="px-4 py-2">
								<input
								type="text"
								name="title"
								placeholder="Title"
								class="p-2 border rounded disabled:opacity-50"
								x-model="title"
								:class="{'text-transparent': method != 'POST'}"
								:disabled="method != 'POST'"
							>
							</td>
							<td class="px-4 py-2">
								<input
									type="text"
									name="description"
									placeholder="Description"
									class="p-2 border rounded disabled:opacity-50"
									x-model="description"
									:class="{'text-transparent': method != 'POST'}"
									:disabled="method != 'POST'"
								>
							</td>
							<td class="px-4 py-2">
								<input
									type="datetime-local"
									name="due_date"
									placeholder="Due Date" 
									class="p-2 border rounded disabled:opacity-50"
									x-model="due_date"
									:class="{'text-transparent': method != 'POST'}"
									:disabled="method != 'POST'"
								>
							</td>
							<td class="px-4 py-2">
								<button 
									class="px-4 py-2 text-sm font-semibold text-white rounded"
									:class="method == 'POST' ? 'bg-fuchsia-300 hover:bg-fuchsia-400' : 'bg-gray-400 hover:bg-gray-500'"
									@click.prevent="() => {
										if (method == 'POST') {
											submit()
										} else {
											method = 'POST'
											id = null
											title = ''
											description = ''
											due_date = ''
										}
									}"
								>
									<i class="fas" :class="method == 'POST' ? 'fa-check' : 'fa-plus'"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
{% endblock %}