<form 
	x-data="{ 
		method     : 'POST', // POST | PUT | DELETE
		id         : null,
		title      : '',
		description: '',
		due_date   : '',

		submit() {
			const url = this.id 
				? '{% url 'api:task' id='__id__' %}'.replace('__id__', this.id)
				: '{% url 'api:tasks' %}';

			const data = {
				title: this.title,
				description: this.description,
				due_date: this.due_date
			};

			const options = {
				method: this.method,
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': '{{ csrf_token }}',
					'credentials': 'include'
				},
				body: JSON.stringify(data)
			};

			fetch(url, options)
				.then(() => window.location.reload())
				.catch(err => console.error(err));
		}
	}"
	@submit.prevent="submit()"
	>
	<table class="w-full text-left rounded-lg overflow-hidden px-4 py-2 bg-white">
		<thead>
			<tr class="text-gray-800 border-b">
				<th class="px-4 py-2">No</th>
				<th class="px-4 py-2">Title</th>
				<th class="px-4 py-2">Description</th>
				<th class="px-4 py-2">Due Date</th>
				<th class="px-4 py-2">Actions</th>
			</tr>
		</thead>
		<tbody class="text-gray-700">
			{% for task in tasks %}
				{% include "components/list-items/task.html" %}
			{% endfor %}

			<tr class="hover:bg-blue-50">
				{% include "components/forms/add-task.html" %}
			</tr>
		</tbody>
	</table>
</form>